.editorContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
}

.previewSection{
    width: inherit;
    height: calc(100vh - 120px);
    padding: 1rem;
    padding-left: 3rem;
}


.editorSection{
    display: grid;
    height: calc(100vh - 120px);
    width: inherit;
    padding: 1rem;
    padding-right: 3rem;
    /* padding: 1rem; */
    gap: 2rem;
    grid-template-rows: 2% 40% 2% 40%;
}

.iframeSelect{
    width: 100%;
    height: 95%;
    background-color: #D9D9D9;
    padding: 0.5rem;
    border-radius: 15px;
}

.htmlSection{
    width: inherit;
    height: 100%;
}

.cssSection{
    width: inherit;
    height: 100%;
}


.htmlCode {
    width: inherit;
    height: 100%;
    resize: none;
    font-family: Verdana;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 0.5rem;
}

.cssCode {
    background-color: #D9D9D9;
    width: inherit;
    height: 100%;
    font-family: Verdana;
    resize: none;
    border-radius: 15px;
    padding: 0.5rem;
}

.submitSection{
    width: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1E1E1E;
    padding: 0.8rem;
    border-radius: 24px;
    margin: 5px 50px 5px 50px;

}

.submitSection button{
    padding: 0.8rem;
    font-weight: 600;
    font-family: Arial;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    width: 210px;
}

/* inside I frame is used to center whatever elements are there created form the code to be at the center of the IFrame, this only gets used once the run function is being used */
.insideIFrame{
    width: 50%;
}